# Environment
NODE_ENV="development"
APP_ENV="development"
WELDR_MODE="local"
CORS_HOST="http://localhost:3000"

# Web
NEXT_PUBLIC_WEB_URL="http://localhost:3000"

# Server
NEXT_PUBLIC_SERVER_URL="https://localhost:8080"

# Database URL
DATABASE_URL="postgresql://abdllahdev:123@localhost:6789/weldr"
TEST_DATABASE_URL="postgresql://abdllahdev:123@localhost:6789/weldr"

# Auth Secret
AUTH_SECRET=

# Resend Key
RESEND_API_KEY=

# OpenAI API Key
OPENAI_API_KEY=

# Anthropic API Key
ANTHROPIC_API_KEY=

# Fireworks API Key
FIREWORKS_API_KEY=

# Hyperbolic API Key
HYPERBOLIC_API_KEY=

# Gemini API Key
GEMINI_API_KEY=

# OpenRouter API Key
OPEN_ROUTER_API_KEY=

# Morph
MORPH_API_KEY=

# Fly.io API Key
FLY_API_TOKEN=
FLY_ORG_SLUG="weldr"
FLY_API_HOSTNAME="https://api.machines.dev"

# Tigris Creds
TIGRIS_ACCESS_KEY_ID=
TIGRIS_SECRET_ACCESS_KEY=
TIGRIS_ENDPOINT_URL=
TIGRIS_IAM_ENDPOINT_URL=

# Buckets
GENERAL_BUCKET="weldr-general"

# GitHub OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Microsoft OAuth
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Redis
REDIS_URL="redis://localhost:6379"

# Sentry
SENTRY_DSN=

# Axiom
AXIOM_TOKEN=
AXIOM_DATASET="wekdr-server"
